<a href="https://colab.research.google.com/github/Onkargaikwad/assignment-9/blob/main/Assignment_Association_Rules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Book**

In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
df = pd.read_csv("book.csv")

In [3]:
df

      ChildBks  YouthBks  CookBks  ...  ItalAtlas  ItalArt  Florence
0            0         1        0  ...          0        0         0
1            1         0        0  ...          0        0         0
2            0         0        0  ...          0        0         0
3            1         1        1  ...          0        0         0
4            0         0        1  ...          0        0         0
...        ...       ...      ...  ...        ...      ...       ...
1995         0         0        1  ...          0        1         1
1996         0         0        0  ...          0        0         0
1997         0         0        0  ...          0        0         0
1998         0         0        1  ...          0        0         0
1999         0         0        0  ...          0        0         0

[2000 rows x 11 columns]

In [4]:
df.head()

   ChildBks  YouthBks  CookBks  ...  ItalAtlas  ItalArt  Florence
0         0         1        0  ...          0        0         0
1         1         0        0  ...          0        0         0
2         0         0        0  ...          0        0         0
3         1         1        1  ...          0        0         0
4         0         0        1  ...          0        0         0

[5 rows x 11 columns]

In [5]:
df.isnull().sum()

ChildBks     0
YouthBks     0
CookBks      0
DoItYBks     0
RefBks       0
ArtBks       0
GeogBks      0
ItalCook     0
ItalAtlas    0
ItalArt      0
Florence     0
dtype: int64

In [6]:
df.shape

(2000, 11)

In [7]:
df.describe()

          ChildBks     YouthBks  ...      ItalArt     Florence
count  2000.000000  2000.000000  ...  2000.000000  2000.000000
mean      0.423000     0.247500  ...     0.048500     0.108500
std       0.494159     0.431668  ...     0.214874     0.311089
min       0.000000     0.000000  ...     0.000000     0.000000
25%       0.000000     0.000000  ...     0.000000     0.000000
50%       0.000000     0.000000  ...     0.000000     0.000000
75%       1.000000     0.000000  ...     0.000000     0.000000
max       1.000000     1.000000  ...     1.000000     1.000000

[8 rows x 11 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ChildBks   2000 non-null   int64
 1   YouthBks   2000 non-null   int64
 2   CookBks    2000 non-null   int64
 3   DoItYBks   2000 non-null   int64
 4   RefBks     2000 non-null   int64
 5   ArtBks     2000 non-null   int64
 6   GeogBks    2000 non-null   int64
 7   ItalCook   2000 non-null   int64
 8   ItalAtlas  2000 non-null   int64
 9   ItalArt    2000 non-null   int64
 10  Florence   2000 non-null   int64
dtypes: int64(11)
memory usage: 172.0 KB

In [9]:
data = pd.get_dummies(df)
data.head()

   ChildBks  YouthBks  CookBks  ...  ItalAtlas  ItalArt  Florence
0         0         1        0  ...          0        0         0
1         1         0        0  ...          0        0         0
2         0         0        0  ...          0        0         0
3         1         1        1  ...          0        0         0
4         0         0        1  ...          0        0         0

[5 rows x 11 columns]

In [10]:
frequent_itemsets = apriori(data, min_support=0.05, use_colnames=True)
frequent_itemsets

    support                                          itemsets
0    0.4230                                        (ChildBks)
1    0.2475                                        (YouthBks)
2    0.4310                                         (CookBks)
3    0.2820                                        (DoItYBks)
4    0.2145                                          (RefBks)
..      ...                                               ...
95   0.0600            (YouthBks, GeogBks, CookBks, DoItYBks)
96   0.0560              (YouthBks, GeogBks, CookBks, ArtBks)
97   0.0650              (ArtBks, GeogBks, CookBks, DoItYBks)
98   0.0510  (GeogBks, CookBks, YouthBks, ChildBks, DoItYBks)
99   0.0535    (GeogBks, CookBks, ArtBks, ChildBks, DoItYBks)

[100 rows x 2 columns]

In [11]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

    antecedents                             consequents  ...  leverage  conviction
0    (YouthBks)                              (ChildBks)  ...  0.060308    1.731000
1    (ChildBks)                              (YouthBks)  ...  0.060308    1.233750
2    (ChildBks)                               (CookBks)  ...  0.073687    1.441240
3     (CookBks)                              (ChildBks)  ...  0.073687    1.421069
4    (ChildBks)                              (DoItYBks)  ...  0.064714    1.270770
..          ...                                     ...  ...       ...         ...
657   (GeogBks)   (ArtBks, ChildBks, CookBks, DoItYBks)  ...  0.030868    1.138733
658   (CookBks)   (ArtBks, ChildBks, GeogBks, DoItYBks)  ...  0.027856    1.073789
659    (ArtBks)  (ChildBks, DoItYBks, GeogBks, CookBks)  ...  0.032051    1.170939
660  (ChildBks)    (ArtBks, DoItYBks, GeogBks, CookBks)  ...  0.026005    1.070379
661  (DoItYBks)    (ArtBks, ChildBks, GeogBks, CookBks)  ...  0.029953    1.131085

[662 rows x 9 columns]

In [12]:
rules.sort_values('lift',ascending = False)[0:20]

                       antecedents  ... conviction
181            (YouthBks, CookBks)  ...   1.394301
184                     (ItalCook)  ...   1.745193
510             (GeogBks, CookBks)  ...   1.258125
511           (ItalCook, ChildBks)  ...   2.111923
508            (ItalCook, GeogBks)  ...   4.140522
513            (ChildBks, CookBks)  ...   1.177474
643    (ArtBks, ChildBks, CookBks)  ...   1.503271
650            (GeogBks, DoItYBks)  ...   1.465047
515                     (ItalCook)  ...   1.582488
506   (ChildBks, GeogBks, CookBks)  ...   1.366307
651              (ArtBks, CookBks)  ...   1.317608
642  (ChildBks, GeogBks, DoItYBks)  ...   1.706833
354           (YouthBks, ChildBks)  ...   1.317790
359             (DoItYBks, RefBks)  ...   1.677952
654             (ArtBks, ChildBks)  ...   1.329071
639   (DoItYBks, GeogBks, CookBks)  ...   1.652159
356           (YouthBks, DoItYBks)  ...   1.568028
357             (ChildBks, RefBks)  ...   1.360424
612  (ChildBks, GeogBks, DoItYBks)  ...   1.636841
621            (YouthBks, CookBks)  ...   1.306946

[20 rows x 9 columns]

In [13]:
rules[rules.lift>1]

    antecedents                             consequents  ...  leverage  conviction
0    (YouthBks)                              (ChildBks)  ...  0.060308    1.731000
1    (ChildBks)                              (YouthBks)  ...  0.060308    1.233750
2    (ChildBks)                               (CookBks)  ...  0.073687    1.441240
3     (CookBks)                              (ChildBks)  ...  0.073687    1.421069
4    (ChildBks)                              (DoItYBks)  ...  0.064714    1.270770
..          ...                                     ...  ...       ...         ...
657   (GeogBks)   (ArtBks, ChildBks, CookBks, DoItYBks)  ...  0.030868    1.138733
658   (CookBks)   (ArtBks, ChildBks, GeogBks, DoItYBks)  ...  0.027856    1.073789
659    (ArtBks)  (ChildBks, DoItYBks, GeogBks, CookBks)  ...  0.032051    1.170939
660  (ChildBks)    (ArtBks, DoItYBks, GeogBks, CookBks)  ...  0.026005    1.070379
661  (DoItYBks)    (ArtBks, ChildBks, GeogBks, CookBks)  ...  0.029953    1.131085

[662 rows x 9 columns]

# **My_movies**

In [14]:
df = pd.read_csv("my_movies.csv")

In [15]:
df

              V1             V2             V3  ... LOTR Braveheart  Green Mile
0    Sixth Sense          LOTR1  Harry Potter1  ...    0          0           1
1      Gladiator        Patriot     Braveheart  ...    0          1           0
2          LOTR1          LOTR2            NaN  ...    0          0           0
3      Gladiator        Patriot    Sixth Sense  ...    0          0           0
4      Gladiator        Patriot    Sixth Sense  ...    0          0           0
5      Gladiator        Patriot    Sixth Sense  ...    0          0           0
6  Harry Potter1  Harry Potter2            NaN  ...    0          0           0
7      Gladiator        Patriot            NaN  ...    0          0           0
8      Gladiator        Patriot    Sixth Sense  ...    0          0           0
9    Sixth Sense           LOTR      Gladiator  ...    1          0           1

[10 rows x 15 columns]

In [16]:
df.head()

            V1       V2             V3  ... LOTR Braveheart  Green Mile
0  Sixth Sense    LOTR1  Harry Potter1  ...    0          0           1
1    Gladiator  Patriot     Braveheart  ...    0          1           0
2        LOTR1    LOTR2            NaN  ...    0          0           0
3    Gladiator  Patriot    Sixth Sense  ...    0          0           0
4    Gladiator  Patriot    Sixth Sense  ...    0          0           0

[5 rows x 15 columns]

In [17]:
df.isnull().sum()

V1               0
V2               0
V3               3
V4               8
V5               9
Sixth Sense      0
Gladiator        0
LOTR1            0
Harry Potter1    0
Patriot          0
LOTR2            0
Harry Potter2    0
LOTR             0
Braveheart       0
Green Mile       0
dtype: int64

In [18]:
data = pd.get_dummies(df)
data.head()

   Sixth Sense  Gladiator  LOTR1  ...  V3_Sixth Sense  V4_Green Mile  V5_LOTR2
0            1          0      1  ...               0              1         1
1            0          1      0  ...               0              0         0
2            0          0      1  ...               0              0         0
3            1          1      0  ...               1              0         0
4            1          1      0  ...               1              0         0

[5 rows x 25 columns]

In [19]:
frequent_itemsets = apriori(data, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Sixth Sense, V1_Sixth Sense, V4_Green Mile, V...
1393      0.1  (Sixth Sense, V1_Sixth Sense, V4_Green Mile, L...
1394      0.1  (Sixth Sense, V1_Sixth Sense, V4_Green Mile, L...
1395      0.1  (V1_Sixth Sense, V4_Green Mile, LOTR2, V3_Harr...
1396      0.1  (Sixth Sense, V1_Sixth Sense, V4_Green Mile, L...

[1397 rows x 2 columns]

In [20]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

           antecedents  ... conviction
0        (Sixth Sense)  ...        1.8
1          (Gladiator)  ...        1.4
2        (Sixth Sense)  ...        1.2
3            (Patriot)  ...        1.2
4               (LOTR)  ...        inf
...                ...  ...        ...
64211       (V2_LOTR1)  ...        inf
64212       (V5_LOTR2)  ...        inf
64213     (Green Mile)  ...        1.8
64214  (Harry Potter1)  ...        1.8
64215          (LOTR1)  ...        1.8

[64216 rows x 9 columns]

In [21]:
rules.sort_values('lift',ascending = False)[0:20]

                                             antecedents  ... conviction
32108       (V5_LOTR2, Green Mile, Harry Potter1, LOTR1)  ...        inf
52636      (V4_Green Mile, LOTR2, V1_Sixth Sense, LOTR1)  ...        inf
33414                             (V4_Green Mile, LOTR1)  ...        inf
33415                                  (LOTR2, V2_LOTR1)  ...        inf
33416                                  (V5_LOTR2, LOTR2)  ...        inf
33417                             (LOTR2, Harry Potter1)  ...        inf
52644      (LOTR2, Green Mile, V1_Sixth Sense, V2_LOTR1)  ...        inf
33419                               (V5_LOTR2, V2_LOTR1)  ...        inf
33420                          (Harry Potter1, V2_LOTR1)  ...        inf
33421                                  (LOTR1, V2_LOTR1)  ...        inf
33422                          (V5_LOTR2, Harry Potter1)  ...        inf
33423                                  (V5_LOTR2, LOTR1)  ...        inf
33424                             (Harry Potter1, LOTR1)  ...        inf
52643        (V5_LOTR2, LOTR2, V1_Sixth Sense, V2_LOTR1)  ...        inf
52642  (V4_Green Mile, Green Mile, V1_Sixth Sense, LO...  ...        inf
52641   (V4_Green Mile, V5_LOTR2, V1_Sixth Sense, LOTR1)  ...        inf
33428                                         (V2_LOTR1)  ...        inf
33429                                         (V5_LOTR2)  ...        inf
52640  (V4_Green Mile, V5_LOTR2, Green Mile, V1_Sixth...  ...        inf
52639   (V4_Green Mile, LOTR1, V1_Sixth Sense, V2_LOTR1)  ...        inf

[20 rows x 9 columns]

In [22]:
rules[rules.lift>1]

           antecedents  ... conviction
0        (Sixth Sense)  ...        1.8
1          (Gladiator)  ...        1.4
2        (Sixth Sense)  ...        1.2
3            (Patriot)  ...        1.2
4               (LOTR)  ...        inf
...                ...  ...        ...
64211       (V2_LOTR1)  ...        inf
64212       (V5_LOTR2)  ...        inf
64213     (Green Mile)  ...        1.8
64214  (Harry Potter1)  ...        1.8
64215          (LOTR1)  ...        1.8

[64202 rows x 9 columns]